<tr>
 <td width="30%"><%= skin_hair_type.skin_hair_type %></td>
 <td width="25%">
   <%= generate_edit_delete_link({object: skin_hair_type, path_value: edit_skin_hair_type_path(skin_hair_type)}) %>
 </td>
</tr>
