<div class="control-group select optional">
 <label for="additional_claim_editor" class="select optional control-label"> Editor </label>
 <div class="controls">
  <%= collection_select :additional_claim, :copy_assigned_to, current_user.has_role?(:admin) ?
    editors : claim.editor ? editors.select{|editor| editor.eql?(claim.editor)}  : editors.select{|editor| editor.eql?(current_user)}, :id, :name, {include_blank: true, prompt: "Please select editor"}, {class: "select optional editor_users_list"} %>
 </div>
</div>