<fieldset>
  <legend> 
    Create Additional Claim for <a data-toggle="modal" href="#product-description"><%= @product.name.capitalize %></a> Product
   <%= render "shared/product_description", product: @product %>
  </legend>
  <%= render "form", additional_claim: @additional_claim, product: @product, sub_claims: @sub_claims, assignees: @assignees %>
</fieldset>