<tr>
 <td width="30%"><%= problem_solution.problem %></td>
 <td width="25%">
   <%= generate_edit_delete_link({object: problem_solution, path_value: edit_problem_solution_path(problem_solution)}) %>
 </td>
</tr>
