<tr>
 <td width="30%"><%= formulation.formulation_name %></td>
 <td width="25%">
   <%= generate_edit_delete_link({object: formulation, path_value: edit_formulation_path(formulation)}) %>
 </td>
</tr>
